<?php
$activeItem = BackendMenu::getActiveMainMenuItem();
$mySettings = System\Classes\SettingsManager::instance()->listItems('mysettings');
$navbarMode = Backend\Models\BrandSetting::get('menu_mode', 'inline');
?>

<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="<?= Backend\Models\BrandSetting::getLogo() ?>" title="logo" width="50" /></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b><?= e(Backend\Models\BrandSetting::get('app_name')) ?></b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <img src="<?= $this->user->getAvatarThumb(40, ['mode' => 'crop', 'extension' => 'png']) ?>" class="user-image" alt="User Image">
                        <span class="hidden-xs"><?=$this->user->full_name?></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <!--              <li class="user-header">
                                          
                                        
                        
                                        <p><img src="<?= $this->user->getAvatarThumb(40, ['mode' => 'crop', 'extension' => 'png']) ?>" class="img-circle" alt="User Image">
                                            <?=$this->user->full_name?>
                                          Alexander Pierce - Web Developer
                                          <small>Member since Nov. 2012</small>
                                        </p>
                                      </li>-->
                        <!-- Menu Body -->
                        <!--<li class="user-body">-->
                            <!--                <div class="row">
                                              <div class="col-xs-4 text-center">
                                                <a href="#">Followers</a>
                                              </div>
                                              <div class="col-xs-4 text-center">
                                                <a href="#">Sales</a>
                                              </div>
                                              <div class="col-xs-4 text-center">
                                                <a href="#">Friends</a>
                                              </div>
                                            </div>-->
                            <!-- /.row -->
                        <!--</li>-->
                        <!-- Menu Footer-->
                        <!--              <li class="user-footer">
                                        <div class="pull-left">
                                          <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                          <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                      </li>-->
                        <?php foreach ($mySettings as $category => $items): ?>
                        <?php foreach ($items as $item): ?>
                        <li class="user-body">
                            <a href="<?= $item->url ?>">
                                <?= e(trans($item->label)) ?>
                            </a>
                        </li>
                        <?php endforeach ?>
                        <li class="divider"></li>
                        <?php endforeach ?>

                        <li class="user-footer">
                            <a href="<?= Backend::url('backend/auth/signout') ?>">
                                <?= e(trans('backend::lang.account.sign_out')) ?>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <!--          <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                          </li>-->
            </ul>
        </div>
    </nav>
</header>


