SetEnv APP_ENV "dev"
<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    ##
    ## You may need to uncomment the following line for some hosting environments,
    ## if you have installed to a subdirectory, enter the name here also.
    ##
    # RewriteBase /

    ##
    ## Black listed folders
    ##
    RewriteRule ^bootstrap/.* index.php [L,NC]
    RewriteRule ^config/.* index.php [L,NC]
    RewriteRule ^vendor/.* index.php [L,NC]
    RewriteRule ^storage/cms/.* index.php [L,NC]
    RewriteRule ^storage/logs/.* index.php [L,NC]
    RewriteRule ^storage/framework/.* index.php [L,NC]
    RewriteRule ^storage/temp/protected/.* index.php [L,NC]
    RewriteRule ^storage/app/uploads/protected/.* index.php [L,NC]
    RewriteRule ^storage/app/media/(.*) file.php?id=media/$1 [L]
     RewriteRule ^storage/app/media/(.*) "file.php?id=media/$1" [L,NC]
     RewriteRule ^file file.php?%{QUERY_STRING} [L]
    ##
    ## White listed folders
    ##
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_FILENAME} !/storage/app/uploads/.*
    RewriteCond %{REQUEST_FILENAME} !/storage/app/media/.*
    RewriteCond %{REQUEST_FILENAME} !/storage/temp/public/.*
    RewriteCond %{REQUEST_FILENAME} !/themes/.*/(assets|resources)/.*
    RewriteCond %{REQUEST_FILENAME} !/plugins/.*/(assets|resources)/.*
    RewriteCond %{REQUEST_FILENAME} !/modules/.*/(assets|resources)/.*
    RewriteRule !^index.php index.php [L,NC]

    ##
    ## Block all PHP files, except index
    ##
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_FILENAME} \.php$
    RewriteRule !^index.php index.php [L,NC]

    ##
    ## Standard routes
    ##
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]


#    <ifModule mod_expires.c>
#        ExpiresActive On
#        ExpiresDefault "access plus 1 seconds"
#        ExpiresByType text/html "access plus 1 seconds"
#        ExpiresByType text/css "access plus 31536000 seconds"
#        ExpiresByType text/javascript "access plus 31536000 seconds"
#        ExpiresByType application/javascript "access plus 31536000 seconds"
#        ExpiresByType application/x-javascript "access plus 31536000 seconds"
#        ExpiresByType image/ico "access plus 31536000 seconds"
#        ExpiresByType image/gif "access plus 31536000 seconds"
#        ExpiresByType image/jpg "access plus 31536000 seconds"
#        ExpiresByType image/jpeg "access plus 31536000 seconds"
#        ExpiresByType image/png "access plus 31536000 seconds"
#        ExpiresByType image/bmp "access plus 31536000 seconds"
#    </ifModule>
</IfModule>
