<div class="container">
    <nav class="pull-left">
        <ul>
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About Us</a>
            </li>
            <li>
                <a href="/about/itineraries">Itineraries</a>
            </li>
            <li>
                <a href="/about/activities">Activities</a>
            </li>
            <li>
                <a href="/about/facilities">Facilities</a>
            </li>
            <li>
                <a href="/portfolio/gallery">Gallery</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="social-btns pull-right">
        <a href="#"><div class="fui-vimeo"></div><div class="fui-vimeo"></div></a>
        <a href="#"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
        <a href="#"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
    </div>
    <div class="additional-links">
        Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
    </div>
</div>
