<!DOCTYPE html>
<html>
<head>
  <title>FusionchartsExporter</title>
  <%= stylesheet_link_tag    "fusioncharts_exporter/application", media: "all" %>
  <%= javascript_include_tag "fusioncharts_exporter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
