<h1>FusionCharts Samples for Rails</h1>
<ol>
    <li>
        <a href="first-chart">Simple Chart Using Hash</a>
    </li>
    <li>
        <a href="first-widget">Simple Widget Using Hash</a>
    </li>
    <li>
        <a href="first-map">Simple Map Using Hash</a>
    </li>
    <li>
        <a href="angular-gauge-sample">Angular Gauge</a>
    </li>
    <li>
        <a href="chart-export">Export Chart As Image (client-side)</a>
    </li>
    <li>
        <a href="chart-export-at-server">Export Chart As Image (server-side)</a>
    </li>
    <li>
        <a href="drilldown">Chart with Drill-Down Feature</a>
    </li>
    <li>
        <a href="mscolumn2d-sample">Multiseries Column 2D Chart</a>
    </li>
    <li>
        <a href="mscombi3d-sample">Multiseries Combination 3D Chart</a>
    </li>
    <li>
        <a href="pie3d-sample">Pie 3D Chart</a>
    </li>
    <li>
        <a href="stacked-column2d-line-chart-sample">Stacked Column 2D with Line Chart</a>
    </li>
    <li>
        <a href="chart-database">Chart Using Database (SQLITE3)</a>
    </li>
    <li>
        <a href="usa-map-sample">USA Map</a>
    </li>
    <li>
        <a href="chart-themes">Chart Themes</a>
    </li>
    <li>
        <a href="chart-from-xml-url">Chart using data from XML URL</a>
    </li>
    <li>
        <a href="chart-from-json-url">Chart using data from JSON URL</a>
    </li>
</ol>